<h1>New Proxy: Allowed Hosts</h1>

<div class="info">
  <p>Supply the hosts that will be using the proxy. Any host not listed below will be blocked from using the proxy.</p>
  <p>Hint: be sure to include <code>http://localhost</code> if you'd like to test from your local environment.</p>
</div>

<hr>

<%= nested_form_for(@proxy, url: dashboard_proxy_wizard_update_path(@proxy), method: :put, html: { class: 'model-form' }) do |f| %>
  <div class="form-section">
    <%= f.fields_for :cors_hosts do |ff| %>
      <div class="form-item form-item--inline">
        <div class="field-item">
          <%= ff.text_field :host, class: 'input--text', placeholder: 'Host' %>
        </div>

        <%= ff.link_to_remove "Remove" %>
      </div>
    <% end %>

    <p><%= f.link_to_add "Add an allowed host", :cors_hosts %></p>
  </div>

  <%= hidden_field_tag :step, 4 %>

  <div class="form-item form-actions">
    <%= f.submit 'Finish', class: 'button' %>
  </div>
<% end %>
