<h1>New Proxy: URL</h1>

<div class="info">
  <p>This URL will be accessed from your front-end Javascript.</p>
</div>

<hr>

<%= form_for @proxy,
    url: dashboard_proxy_wizard_update_path(@proxy),
    method: :put,
    html: { class: 'model-form' } do |f| %>

  <div class="form-section">
    <div class="form-item form-item--inline">
      <div class="field-inline">
        <%= f.select :proxy_request_type,
            [
              ['POST', 'post'],
              ['GET', 'get'],
              ['PUT', 'put'],
              ['PATCH', 'patch'],
              ['DELETE', 'delete']
            ],
            {},
            class: 'input--select'
        %>
      </div>

      <span class="field-prefix">
        <%= @host %>/<%= @slug %>/
      </span>

      <%= f.text_field :slug, class: 'input--text input--inline required' %>
    </div>

    <% if @proxy.errors[:slug].any? %>
      <div class="error form-item">
        URL has already been taken. Try changing the path or the type.
      </div>
    <% end %>

    <%= hidden_field_tag :step, 2 %>
  </div>

  <div class="form-item form-actions">
    <%= f.submit 'Next', class: 'button' %>
  </div>
<% end %>

<script type="text/javascript">
  $('form').validate({
    messages: {
      'proxy[slug]': false
    }
  });
</script>
