<h1>New Proxy: Step 2</h1>

<div class="info">
  <p>Supply the URL and TYPE for which you'd like to access your proxy.</p>
</div>

<hr>

<%= form_for @proxy,
    url: dashboard_proxy_wizard_update_path(@proxy),
    method: :put,
    html: { class: 'model-form' } do |f| %>

  <div class="form-section">
    <div class="form-item">
      <%= f.label :slug, 'Path', class: 'label' %>

      <span class="field-prefix">
        <%= @host %>/<%= @slug %>/
      </span>

      <%= f.text_field :slug, class: 'input--text input--inline' %>
    </div>

    <div class="form-item">
      <%= f.label :proxy_request_type, 'Type', class: 'label' %>
      <%= f.select :proxy_request_type,
          [
            ['POST', 'post'],
            ['GET', 'get'],
            ['PUT', 'put'],
            ['PATCH', 'patch'],
            ['DELETE', 'delete']
          ],
          {},
          class: 'input--select'
      %>
    </div>

    <%= hidden_field_tag :step, 2 %>
  </div>

  <div class="form-item form-actions">
    <%= f.submit 'Next Step', class: 'button' %>
  </div>
<% end %>
