<h1>New Proxy: Step 4</h1>

<div class="info">
  <p>Supply any extra URL params or headers that you'd like to send along to the target API.</p>
</div>

<hr>

<%= nested_form_for(@proxy, url: dashboard_proxy_wizard_update_path(@proxy), method: :put, html: { class: 'model-form' }) do |f| %>
<div class="form-section">
  <h3>Query Params</h3>
  <%= f.fields_for :proxy_params do |ff| %>
    <div class="form-item form-item--inline">
      <div class="field-item">
        <%= ff.text_field :param_from, class: 'input--text', placeholder: 'From' %>
      </div>

      <div class="field-item">
        <%= ff.text_field :param_to, class: 'input--text', placeholder: 'To' %>
      </div>

      <%= ff.link_to_remove "Remove" %>
    </div>
  <% end %>

  <p><%= f.link_to_add "Add a query param", :proxy_params %></p>
</div>

<div class="form-section">
  <div class="form-section">
    <h3>Headers</h3>
    <%= f.fields_for :proxy_headers do |ff| %>
      <div class="form-item form-item--inline">
        <div class="field-item">
          <%= ff.text_field :name, class: 'input--text', placeholder: 'Name' %>
        </div>

        <div class="field-item">
          <%= ff.text_field :value, class: 'input--text', placeholder: 'Value' %>
        </div>

        <%= ff.link_to_remove "Remove" %>
      </div>
    <% end %>

    <p><%= f.link_to_add "Add a header", :proxy_headers %></p>
  </div>

  <%= hidden_field_tag :step, 4 %>

  <div class="form-item form-actions">
    <%= f.submit 'Finish', class: 'button' %>
  </div>
<% end %>
