<!DOCTYPE html>
<html>
  <head>
    <title>Trixie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('bee.png') %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="admin">
    <aside class="admin-aside">
      <div class="admin-aside__title">
        Trixie
      </div>

      <div class="admin-aside__section">
        <%= link_to 'Proxies', dashboard_proxies_path %>
      </div>
    </aside>

    <main class="admin-main">
      <%= yield %>
    </main>
  </body>
</html>
