<!DOCTYPE html>
<html>
  <head>
    <title>Trixie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('bee.png') %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="admin">
    <aside class="admin-aside">
      <div class="admin-aside__top">
        <div class="admin-aside__title">
          Trixie
        </div>

        <div class="admin-aside__section">
          <%= link_to 'Proxies', dashboard_proxies_path %>
        </div>
      </div>

      <div class="admin-aside__bottom">
        <%= link_to 'Settings', dashboard_settings_path %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      </div>
    </aside>

    <main class="admin-main">
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </main>
  </body>
</html>
